@charset "utf-8";

.container {
	border: 10px solid gray;
	width: 500px;
	margin: 0 auto;
	margin-top: 3rem;
}

.target {
	background: lightgreen;
	width: 100px;
	height: 100px;
	padding: 1rem;
	margin: 1rem;
}
